<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JSP12</display-name>
	<filter>
		<filter-name>Filter00</filter-name>
		<filter-class>ch12.com.filter.CharaterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Filter00</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>Filter01</filter-name>
		<filter-class>ch12.com.filter.AuthenFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter01</filter-name>
		<url-pattern>/filter01_process.jsp</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>Filter02</filter-name>
		<filter-class>ch12.com.filter.InitParameterFilter</filter-class>
		<init-param>
			<param-name>param1</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>param2</param-name>
			<param-value>1234</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Filter02</filter-name>
		<url-pattern>/filter02_process.jsp</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>Filter02_02</filter-name>
		<filter-class>ch12.com.filter.LogFileFilter</filter-class>

		<init-param>
			<param-name>fileName</param-name>
			<param-value>c:\\logs\\monitor.log</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Filter02_02</filter-name>
		<url-pattern>/filter02_process.jsp</url-pattern>
	</filter-mapping>
</web-app>